* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  border-bottom: 5px solid black;
}

a {
  color: black;
  text-decoration: none;
}

.logo {
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 1.25rem;
}

.recipes-list-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.recipes-list-content a {
  display: block;
  float: none;
  text-align: left;
  padding: 12px 16px;
}

.recipes-list-content a:hover {
  background-color: black;
  color: white;
}

.recipes-list:hover .recipes-list-content {
  display: block;
}
